body{
    background-color: peachpuff;
    
}
h1{
    font-size: 20px;
}

p{
    color: blue;
}
 

.notas{
    color:white;
    
}
.advertencias{
    color: yellow;
     background-color: green;
   }

